In [1]:
import pandas as pd
import json

In [2]:
'albums_0-999.json'
'mpd.slice.0-999.json'

'mpd.slice.0-999.json'

In [3]:
df = pd.read_json('albums_0-999.json')

FileNotFoundError: File albums_0-999.json does not exist

In [10]:
df = df.T
df

NameError: name 'df' is not defined

In [ ]:
df = df.dropna()
df

In [12]:
with open('mpd.slice.0-999.json', 'r') as file:
    data = json.load(file)

# Extract the 'playlists' section from the JSON data
playlists = data['playlists']

# Normalize the nested JSON data into a flat table
df2 = pd.json_normalize(playlists, sep='_')

# Display the DataFrame
df2

,name,collaborative,pid,modified_at,num_tracks,num_albums,num_followers,tracks,num_edits,duration_ms,num_artists,description
0,Throwbacks,false,0,1493424000,52,47,1,"[{'pos': 0, 'artist_name': 'Missy Elliott', 't...",6,11532414,37,NaN
1,Awesome Playlist,false,1,1506556800,39,23,1,"[{'pos': 0, 'artist_name': 'Survivor', 'track_...",5,11656470,21,NaN
2,korean,false,2,1505692800,64,51,1,"[{'pos': 0, 'artist_name': 'Hoody', 'track_uri...",18,14039958,31,NaN
3,mat,false,3,1501027200,126,107,1,"[{'pos': 0, 'artist_name': 'Camille Saint-Saën...",4,28926058,86,NaN
4,90s,false,4,1401667200,17,16,2,"[{'pos': 0, 'artist_name': 'The Smashing Pumpk...",7,4335282,16,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
995,old,false,995,1507852800,41,40,1,"[{'pos': 0, 'artist_name': 'Katrina', 'track_u...",8,9917901,36,NaN
996,Daze,false,996,1479254400,17,17,1,"[{'pos': 0, 'artist_name': 'PARTYNEXTDOOR', 't...",13,3699248,15,NaN
997,rap,false,997,1410307200,119,98,1,"[{'pos': 0, 'artist_name': 'LoveRance', 'track...",63,27538723,82,NaN
998,Country,false,998,1507939200,108,75,1,"[{'pos': 0, 'artist_name': 'Hunter Hayes', 'tr...",37,24950143,40,NaN
999,thinking of you,false,999,1507766400,44,43,1,"[{'pos': 0, 'artist_name': 'Pvris', 'track_uri...",34,9065801,37,NaN

In [14]:
with open('mpd.slice.999000-999999.json', 'r') as file:
    data = json.load(file)

# Extract the 'playlists' section from the JSON data
playlists = data['playlists']

# Normalize the nested JSON data into a flat table
df3 = pd.json_normalize(playlists, sep='_')

# Display the DataFrame
df3

,name,collaborative,pid,modified_at,num_tracks,num_albums,num_followers,tracks,num_edits,duration_ms,num_artists,description
0,Study,false,999000,1468800000,28,18,1,"[{'pos': 0, 'artist_name': 'Yiruma', 'track_ur...",8,6123982,17,NaN
1,Megan,false,999001,1467504000,14,14,2,"[{'pos': 0, 'artist_name': 'The Dustbowl Reviv...",10,3228295,14,NaN
2,tbd,false,999002,1473984000,64,53,1,"[{'pos': 0, 'artist_name': 'Broods', 'track_ur...",9,14078091,45,NaN
3,Writing Playlist,false,999003,1450137600,188,115,1,"[{'pos': 0, 'artist_name': 'Talib Kweli', 'tra...",33,48872622,84,NaN
4,Drinking music,false,999004,1440633600,71,63,2,"[{'pos': 0, 'artist_name': 'Baauer', 'track_ur...",12,16090888,45,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Praise,false,999995,1409529600,32,23,1,"[{'pos': 0, 'artist_name': 'Unspoken', 'track_...",5,8502173,11,NaN
996,Worship,false,999996,1475625600,122,74,1,"[{'pos': 0, 'artist_name': 'Pax217', 'track_ur...",12,31246908,42,NaN
997,Sex,false,999997,1498176000,24,22,1,"[{'pos': 0, 'artist_name': 'Romeo Santos', 'tr...",4,6015165,17,NaN
998,✝️,false,999998,1506816000,11,8,1,"[{'pos': 0, 'artist_name': 'Hillsong United', ...",6,2909608,5,NaN
999,BANDA,false,999999,1433116800,110,57,1,"[{'pos': 0, 'artist_name': 'Banda Los Recodito...",13,19451365,26,NaN

In [16]:
tdf3 = []
for i in df3['tracks']:
    tdf3.append(i)

In [20]:
tdf3 = pd.DataFrame(tdf3)
tdf3

,0,1,2,3,4,5,6,7,8,9,...,239,240,241,242,243,244,245,246,247,248
0,"{'pos': 0, 'artist_name': 'Yiruma', 'track_uri...","{'pos': 1, 'artist_name': 'Frédéric Chopin', '...","{'pos': 2, 'artist_name': 'Alexander Pitamic',...","{'pos': 3, 'artist_name': 'Johann Sebastian Ba...","{'pos': 4, 'artist_name': 'Hans Zimmer', 'trac...","{'pos': 5, 'artist_name': 'Hans Zimmer', 'trac...","{'pos': 6, 'artist_name': 'David Robidoux', 't...","{'pos': 7, 'artist_name': 'Dominik Hauser', 't...","{'pos': 8, 'artist_name': 'Ennio Morricone', '...","{'pos': 9, 'artist_name': 'London Music Works'...",...,None,None,None,None,None,None,None,None,None,None
1,"{'pos': 0, 'artist_name': 'The Dustbowl Reviva...","{'pos': 1, 'artist_name': 'Ginuwine', 'track_u...","{'pos': 2, 'artist_name': 'RÜFÜS', 'track_uri'...","{'pos': 3, 'artist_name': 'Radiohead', 'track_...","{'pos': 4, 'artist_name': 'Otis Redding', 'tra...","{'pos': 5, 'artist_name': 'Yonder Mountain Str...","{'pos': 6, 'artist_name': 'The California Hone...","{'pos': 7, 'artist_name': 'A Tribe Called Ques...","{'pos': 8, 'artist_name': 'The Chainsmokers', ...","{'pos': 9, 'artist_name': 'Lettuce', 'track_ur...",...,None,None,None,None,None,None,None,None,None,None
2,"{'pos': 0, 'artist_name': 'Broods', 'track_uri...","{'pos': 1, 'artist_name': 'Kent Jones', 'track...","{'pos': 2, 'artist_name': 'FRENSHIP', 'track_u...","{'pos': 3, 'artist_name': 'Broods', 'track_uri...","{'pos': 4, 'artist_name': 'Majid Jordan', 'tra...","{'pos': 5, 'artist_name': 'A R I Z O N A', 'tr...","{'pos': 6, 'artist_name': 'Ariana Grande', 'tr...","{'pos': 7, 'artist_name': 'Broods', 'track_uri...","{'pos': 8, 'artist_name': 'M.I.A.', 'track_uri...","{'pos': 9, 'artist_name': 'Kanye West', 'track...",...,None,None,None,None,None,None,None,None,None,None
3,"{'pos': 0, 'artist_name': 'Talib Kweli', 'trac...","{'pos': 1, 'artist_name': 'Lea Salonga', 'trac...","{'pos': 2, 'artist_name': 'Lin-Manuel Miranda'...","{'pos': 3, 'artist_name': 'DJ Khaled', 'track_...","{'pos': 4, 'artist_name': 'Signature A Cappell...","{'pos': 5, 'artist_name': 'The Original Cast O...","{'pos': 6, 'artist_name': 'Talib Kweli', 'trac...","{'pos': 7, 'artist_name': 'Josh Groban', 'trac...","{'pos': 8, 'artist_name': 'Matisyahu', 'track_...","{'pos': 9, 'artist_name': 'Talib Kweli', 'trac...",...,None,None,None,None,None,None,None,None,None,None
4,"{'pos': 0, 'artist_name': 'Baauer', 'track_uri...","{'pos': 1, 'artist_name': 'Beyoncé', 'track_ur...","{'pos': 2, 'artist_name': 'Cali Swag District'...","{'pos': 3, 'artist_name': 'David Guetta', 'tra...","{'pos': 4, 'artist_name': 'Afrojack', 'track_u...","{'pos': 5, 'artist_name': 'Enrique Iglesias', ...","{'pos': 6, 'artist_name': 'David Guetta', 'tra...","{'pos': 7, 'artist_name': 'JAY Z', 'track_uri'...","{'pos': 8, 'artist_name': 'Jennifer Lopez', 't...","{'pos': 9, 'artist_name': 'Jennifer Lopez', 't...",...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,"{'pos': 0, 'artist_name': 'Unspoken', 'track_u...","{'pos': 1, 'artist_name': 'NEEDTOBREATHE', 'tr...","{'pos': 2, 'artist_name': 'NEEDTOBREATHE', 'tr...","{'pos': 3, 'artist_name': 'NEEDTOBREATHE', 'tr...","{'pos': 4, 'artist_name': 'NEEDTOBREATHE', 'tr...","{'pos': 5, 'artist_name': 'tobyMac', 'track_ur...","{'pos': 6, 'artist_name': 'tobyMac', 'track_ur...","{'pos': 7, 'artist_name': 'Phillips, Craig & D...","{'pos': 8, 'artist_name': 'Phillips, Craig & D...","{'pos': 9, 'artist_name': 'Phillips, Craig & D...",...,None,None,None,None,None,None,None,None,None,None
996,"{'pos': 0, 'artist_name': 'Pax217', 'track_uri...","{'pos': 1, 'artist_name': 'Pax217', 'track_uri...","{'pos': 2, 'artist_name': 'Pax217', 'track_uri...","{'pos': 3, 'artist_name': 'Pax217', 'track_uri...","{'pos': 4, 'artist_name': 'Pax217', 'track_uri...","{'pos': 5, 'artist_name': 'Pax217', 'track_uri...","{'pos': 6, 'artist_name': 'Pax217', 'track_uri...","{'pos': 7, 'artist_name': 'Pax217', 'track_uri...","{'pos': 8, 'artist_name': 'Newsboys', 'track_u...","{'pos': 9, 'artist_name': 'Pax217', 'track_uri...",...,None,None,None,None,None,None,None,None,None,None
997,"{'pos': 0, 'artist_name': 'Romeo Santos', 'tra...","{'pos': 1, 'artist_name': 'Aventura', 'track_u...","{'pos': 2, 'artist_name': 'De La Ghetto', 'tra...","{'pos': 3, 'artist_name': 'Romeo Santos', 'tra...","{'pos': 4, 'artist_name': 'Romeo Santos', 'tra...","{'pos': 5, 'artist_name': 'The Weeknd', 'track...","{'pos': 6, 'artist_name': 'Jeremih', 'track_ur...","{'pos': 7, 'artist_name': 'Bruno Mars', 'track...","{'pos': 8, 'artist_name': 'Bruno Mars', 'track...","{'pos': 9, 'artist_name': 'Aventura', 'track_u...",...,None,None,None,None,None,None,None,None,None,None
998,"{'pos': 0, 'artist_name': 'Hillsong United', '...","{'pos': 1, 'artist_name': 'Bethel Music', 'tra...","{'pos': 2, 'artist_name': 'Crowder', 'track_ur...","{'pos': 3, 'artist_name': 'Chris Tomlin', 'tra...","{'pos': 4, 'artist_name': 'Chris Tomlin', 'tra...","{'pos': 5, 'artist_name': 'Chris Tomlin', 'tra...","{'pos': 6, 'artist_name': 'Chris Tomlin', 'tra...","{'pos': 7, 'artist_name': 'Chris Tomlin', 'tra...","{'pos': 8, 'artist_name': 'Crowder', 'track_ur...","{'pos': 9, 'artist_name': 'Chris Tomlin', 'tra...",...,None,None,None,None,None,None,None,None,None,None
999,"{'pos': 0, 'artist_name': 'Banda Los Recoditos...","{'pos': 1, 'artist_name': 'Banda Los Recoditos...","{'pos': 2, 'artist_name': 'Edwin Luna y La Tra...","{'pos': 3, 'artist_name': 'Edwin Luna y La Tra...","{'pos': 4, 'artist_name': 'Diego Herrera', 'tr...","{'pos': 5, 'artist_name': 'La Adictiva Banda S...","{'pos': 6, 'artist_name': 'La Adictiva Banda S...","{'pos': 7, 'artist_name': 'La Adictiva Banda S...","{'pos': 8, 'artist_name': 'Banda Sinaloense MS...","{'pos': 9, 'artist_name': 'Banda Sinaloense MS...",...,None,None,None,None,None,None,None,None,None,None

In [58]:
pd.Series(tdf3)

ValueError: 2

In [22]:
with open('mpd.slice.99000-99999.json', 'r') as file:
    data = json.load(file)

# Extract the 'playlists' section from the JSON data
playlists = data['playlists']

# Normalize the nested JSON data into a flat table
df4 = pd.json_normalize(playlists, sep='_')

# Display the DataFrame
df4.head(10)

,name,collaborative,pid,modified_at,num_tracks,num_albums,num_followers,tracks,num_edits,duration_ms,num_artists,description
0,Stuff,false,99000,1504310400,170,81,1,"[{'pos': 0, 'artist_name': 'Fall Out Boy', 'tr...",23,38548928,43,NaN
1,Lovers Rock,false,99001,1451520000,112,81,1,"[{'pos': 0, 'artist_name': 'Gentleman', 'track...",42,25570835,48,NaN
2,jammin,false,99002,1461196800,130,105,4,"[{'pos': 0, 'artist_name': 'The Allman Brother...",28,33001249,72,NaN
3,summer,false,99003,1507680000,55,45,1,"[{'pos': 0, 'artist_name': 'Miley Cyrus', 'tra...",22,12232183,39,NaN
4,25%,false,99004,1506729600,13,13,1,"[{'pos': 0, 'artist_name': 'Maluma', 'track_ur...",10,2752654,13,NaN
5,#los,true,99005,1494720000,108,92,3,"[{'pos': 0, 'artist_name': 'Whinnie Williams',...",26,28670405,90,NaN
6,sleep,false,99006,1491868800,130,80,1,"[{'pos': 0, 'artist_name': 'One Direction', 't...",22,29152995,64,NaN
7,Speechless,false,99007,1478304000,20,20,1,"[{'pos': 0, 'artist_name': 'Glades', 'track_ur...",4,4111464,15,NaN
8,Colors,false,99008,1481414400,18,18,1,"[{'pos': 0, 'artist_name': 'Amos Lee', 'track_...",2,4548385,18,NaN
9,1960s,false,99009,1485216000,209,107,1,"[{'pos': 0, 'artist_name': 'The Mamas & The Pa...",50,40292777,47,NaN

In [28]:
tdf4 = []
for i in df4['tracks']:
    tdf4.append(i)

In [30]:
tdf4['tracks']

TypeError: list indices must be integers or slices, not str

In [40]:
tdf4 = pd.DataFrame(tdf4)
tdf4.head()

,0,1,2,3,4,5,6,7,8,9,...,238,239,240,241,242,243,244,245,246,247
0,"{'pos': 0, 'artist_name': 'Fall Out Boy', 'tra...","{'pos': 1, 'artist_name': 'Fall Out Boy', 'tra...","{'pos': 2, 'artist_name': 'Arctic Monkeys', 't...","{'pos': 3, 'artist_name': 'Panic! At The Disco...","{'pos': 4, 'artist_name': 'Panic! At The Disco...","{'pos': 5, 'artist_name': 'My Chemical Romance...","{'pos': 6, 'artist_name': '5 Seconds of Summer...","{'pos': 7, 'artist_name': '5 Seconds of Summer...","{'pos': 8, 'artist_name': '5 Seconds of Summer...","{'pos': 9, 'artist_name': 'Fall Out Boy', 'tra...",...,None,None,None,None,None,None,None,None,None,None
1,"{'pos': 0, 'artist_name': 'Gentleman', 'track_...","{'pos': 1, 'artist_name': 'Morgan Heritage', '...","{'pos': 2, 'artist_name': 'Alaine', 'track_uri...","{'pos': 3, 'artist_name': 'Richie Spice', 'tra...","{'pos': 4, 'artist_name': 'Tarrus Riley', 'tra...","{'pos': 5, 'artist_name': 'Mitch', 'track_uri'...","{'pos': 6, 'artist_name': 'Jah Cure', 'track_u...","{'pos': 7, 'artist_name': 'Maikal X', 'track_u...","{'pos': 8, 'artist_name': 'I-Octane', 'track_u...","{'pos': 9, 'artist_name': 'Beres Hammond', 'tr...",...,None,None,None,None,None,None,None,None,None,None
2,"{'pos': 0, 'artist_name': 'The Allman Brothers...","{'pos': 1, 'artist_name': 'The Avett Brothers'...","{'pos': 2, 'artist_name': 'The Avett Brothers'...","{'pos': 3, 'artist_name': 'The Avett Brothers'...","{'pos': 4, 'artist_name': 'alt-J', 'track_uri'...","{'pos': 5, 'artist_name': 'alt-J', 'track_uri'...","{'pos': 6, 'artist_name': 'Atlas Road Crew', '...","{'pos': 7, 'artist_name': 'Barenaked Ladies', ...","{'pos': 8, 'artist_name': 'Benjy Davis Project...","{'pos': 9, 'artist_name': 'The Black Keys', 't...",...,None,None,None,None,None,None,None,None,None,None
3,"{'pos': 0, 'artist_name': 'Miley Cyrus', 'trac...","{'pos': 1, 'artist_name': 'The Vaccines', 'tra...","{'pos': 2, 'artist_name': 'Ed Sheeran', 'track...","{'pos': 3, 'artist_name': 'Ed Sheeran', 'track...","{'pos': 4, 'artist_name': 'Gone in the Sun', '...","{'pos': 5, 'artist_name': 'Harry Styles', 'tra...","{'pos': 6, 'artist_name': 'Harry Styles', 'tra...","{'pos': 7, 'artist_name': 'Harry Styles', 'tra...","{'pos': 8, 'artist_name': 'James Arthur', 'tra...","{'pos': 9, 'artist_name': 'Clean Bandit', 'tra...",...,None,None,None,None,None,None,None,None,None,None
4,"{'pos': 0, 'artist_name': 'Maluma', 'track_uri...","{'pos': 1, 'artist_name': 'Manuel Turizo', 'tr...","{'pos': 2, 'artist_name': 'IAmChino', 'track_u...","{'pos': 3, 'artist_name': 'Danny Ocean', 'trac...","{'pos': 4, 'artist_name': 'El Trono de Mexico'...","{'pos': 5, 'artist_name': 'Play-N-Skillz', 'tr...","{'pos': 6, 'artist_name': 'Oro Solido', 'track...","{'pos': 7, 'artist_name': 'Mala Fe', 'track_ur...","{'pos': 8, 'artist_name': 'José Feliciano', 't...","{'pos': 9, 'artist_name': 'Alacranes Musical',...",...,None,None,None,None,None,None,None,None,None,None

In [42]:
tdf = pd.merge

In [44]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
df4.head()

,name,collaborative,pid,modified_at,num_tracks,num_albums,num_followers,tracks,num_edits,duration_ms,num_artists,description
0,Stuff,false,99000,1504310400,170,81,1,"[{'pos': 0, 'artist_name': 'Fall Out Boy', 'tr...",23,38548928,43,NaN
1,Lovers Rock,false,99001,1451520000,112,81,1,"[{'pos': 0, 'artist_name': 'Gentleman', 'track...",42,25570835,48,NaN
2,jammin,false,99002,1461196800,130,105,4,"[{'pos': 0, 'artist_name': 'The Allman Brother...",28,33001249,72,NaN
3,summer,false,99003,1507680000,55,45,1,"[{'pos': 0, 'artist_name': 'Miley Cyrus', 'tra...",22,12232183,39,NaN
4,25%,false,99004,1506729600,13,13,1,"[{'pos': 0, 'artist_name': 'Maluma', 'track_ur...",10,2752654,13,NaN

In [46]:
dfA = pd.concat([df2, df3])

In [48]:
dfA.head()

,name,collaborative,pid,modified_at,num_tracks,num_albums,num_followers,tracks,num_edits,duration_ms,num_artists,description
0,Throwbacks,false,0,1493424000,52,47,1,"[{'pos': 0, 'artist_name': 'Missy Elliott', 't...",6,11532414,37,NaN
1,Awesome Playlist,false,1,1506556800,39,23,1,"[{'pos': 0, 'artist_name': 'Survivor', 'track_...",5,11656470,21,NaN
2,korean,false,2,1505692800,64,51,1,"[{'pos': 0, 'artist_name': 'Hoody', 'track_uri...",18,14039958,31,NaN
3,mat,false,3,1501027200,126,107,1,"[{'pos': 0, 'artist_name': 'Camille Saint-Saën...",4,28926058,86,NaN
4,90s,false,4,1401667200,17,16,2,"[{'pos': 0, 'artist_name': 'The Smashing Pumpk...",7,4335282,16,NaN

In [ ]:
file_paths = [
    'mpd.slice.0-999.json',
    'mpd.slice.99000-99999.json',
    'mpd.slice.995000-995999.json',
    'mpd.slice.996000-996999.json',
    'mpd.slice.997000-997999.json',
    'mpd.slice.998000-998999.json',
    'mpd.slice.999000-999999.json'
]

all_data = []

for file_path in file_paths:
    with open (file_path, 'r') as file:
        data = json.load(file)
        for playlist in data['playlists']:
            playlist_name = playlist['name']
            playlist_desc = playlist.get('description', '')
            for track in playlist['tracks']:
                all_data.append({
                    'playlist_name': playlist_name,
                    'playlist_desc': playlist_desc,
                    'position_in_playlist': track['pos'],
                    'track_name': track['track_name'],
                    'artist_name': track['artist_name'],
                    'duration_ms': track['duration_ms'],
                    'album_name': track['album_name']
                })
xdf = pd.DataFrame(all_data)

In [ ]:
xdf